@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Miriam+Libre:700&display=swap');

@font-face {
    font-family: 'AvenirNext-Regular';
    src: url('./fonts/AvenirNext-Regular.woff') format('woff'),
         url('./fonts/AvenirNext-Regular.ttf') format('truetype'),
}

@font-face {
    font-family: 'AvenirNext-DemiBold';
    src: url('./fonts/AvenirNext-DemiBold.woff') format('woff'),
         url('./fonts/AvenirNext-DemiBold.ttf') format('truetype');
}

@font-face {
    font-family: 'AvenirNext-UltraLight';
    src: url('./fonts/AvenirNext-UltraLight.woff') format('woff'),
         url('./fonts/AvenirNext-UltraLight.ttf') format('truetype');
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'AvenirNext-DemiBold', sans-serif;
    color: #333d43;
}

.animated {
    /* -webkit-animation-duration: 1s; */
    animation-duration: 1s;
    /* -webkit-animation-fill-mode: both; */
    animation-fill-mode: both;
}

body {
    width: 100%;
    /* background-color: #FEFEFE; */
    /* height: 100%;
    min-height: 100%; */
}

main {
    position: relative;
    margin-bottom: 4em;
    /* height: 100%; */
    /* margin-top: 4em; */
}

button {
    border-style: none;
    background-color: transparent;
    padding: 0.75rem 0 0.75rem 0.75rem;
}

button:focus {
    outline: transparent;
}

.navbar {
    transition: top 0.4s ease-in-out;
}

.navbar-hide {
    top: -120px;
}

.custom-nav {
    background-color: #E6F3FF;
}

.navigation {
    background-color: #E6F3FF;
}

.nav-container {
    width: 100%;
}

.navbar-head {
    float: left;
}

.navbar-menu {
    float: right;
}

#collapseExample {
    position: absolute;
    z-index: 1;
}

.navbar-toggler {
    border-color: transparent;
    outline: transparent;
    /* to change spacing between right edge and hamburger */
    padding: 0.75rem 0 0.75rem 0.75rem;
    font-size: 1.5rem;
}

.navbar-toggler:focus {
    outline: transparent;
}

.nav-link {
    font-family: 'AvenirNext-Regular', sans-serif;
    color: #65737E;
    opacity: 1;
    transition-property: opacity;
    transition-timing-function: linear;
    transition-duration: 0.18s;
}

a.anchor {
    display: block;
    position: relative;
    top: -6rem;
    visibility: hidden;
}

.navbar-nav:hover a {
    opacity: 0.4;
}

.navbar-nav li a:hover {
    color: #2E3439;
    opacity: 1;
}

@media (min-width: 768px) {
    .pt-md-6,
    .py-md-6 {
      padding-top: 5rem !important;
    }

    .pr-md-6,
    .px-md-6 {
      padding-right: 5rem !important;
    }

    .pb-md-6,
    .py-md-6 {
      padding-bottom: 5rem !important;
    }

    .pl-md-6,
    .px-md-6 {
      padding-left: 5rem !important;
    }
}

.navbar-brand {
    font-family: 'Miriam Libre', sans-serif;
    /* font-weight: bold; */
    font-size: 1.8rem;
    color: #1a237e;
}

.navbar-brand:hover {
    color: #1a237e;
}

.bio-wrapper {
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 6rem;
}

.intro {
    /* height: 100vh; */
    padding: 6rem 0 4rem 0;
}

.intro-img {
    width: 19rem;
    height: 19rem;
    object-fit: cover;
    object-position: 0 80%;
    border-radius: 50%;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.intro-text {
    font-size: 1.4rem;
}

.item {
    padding: 4rem 0 2rem 0;
}

.chunk {
    padding: 0 0 4rem 0;
}

p {
    font-family: 'AvenirNext-Regular', sans-serif;
    font-size: 0.865rem;
    color: #535E67;
}

.inner-section {
    padding-top: 2rem;
    /* width: 100%; */
}

.section-sub {
    padding-bottom: 1rem;
}

.section-sub-text {
    font-size: 1.1rem;
}

.about-section-img {
    width: 18rem;
    height: 18rem;
    margin-top: 2rem;
}

.about-item-container {
    display: flex;
    justify-content: flex-start;
    padding-bottom: 1rem;
}

.about-item {
    display: block;
    padding-left: 1rem;
}

.about-item-icon {
    width: 3rem;
    height: 3rem;
    /* fill: red; */
}

.about-item-caption {
    color: #7C8188;
}

.portfolio-item {
    margin: 1rem 0 1rem 0;
    transition: .2s box-shadow, .15s transform;
    border-radius: .5rem;
    overflow: hidden;
    min-height: 8rem;
}

.portfolio-item:hover {
    -moz-transform: translateY(-0.25rem);
    -ms-transform: translateY(-0.25rem);
    -o-transform: translateY(-0.25rem);
    -webkit-transform: translateY(-0.25rem);
    transform: translateY(-0.25rem);
    box-shadow: 0 .1rem .4rem 0 #DCE3E8!important;
    cursor: pointer;
}

.container-fluid {
    padding-top: 15px;
    padding-bottom: 15px;
}

footer {
    /* clear: both; */
    position: relative;
    /* height: 40px; */
    margin-top: -40px;
}

.footer-main {
    background-color: #0e0e46;
}

.contact-links {
    margin-top: 20px;
}

.contact-icons a {
    opacity: 1;
    transition-property: opacity;
    transition-timing-function: linear;
    transition-duration: 0.18s;
}

.footer-icons {
    position: relative;
    width: 1.4rem;
    height: 1.4rem;
    /* padding: 0 4px; */
    margin: 0 12px 0 0;
}

.inline-icons {
    position: relative;
    width: 0.85rem;
    height: 0.85rem;
}

.contact-icons:hover a {
    opacity: 0.4;
}

.contact-icons a:hover {
    opacity: 1;
}

.fa-heart {
    color: #D32F2F;
}

.attribution-container {
    margin-top: 20px;
}

.footer-small {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 0.85rem;
    color: #FFFFFF;
}

.theme-btn {
    background-color: #37A2FF;
    border-color: #37A2FF;
}

.theme-btn:hover {
    background-color: #1186ED;
    border-color: #1186ED;
}
  
#nav-icon {
    width: 20px;
    height: 14px;
    position: relative;
    margin: 5px auto;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}
  
#nav-icon span {
    display: block;
    position: absolute;
    height: 2.5px;
    width: 100%;
    background: #2E3439;
    border-radius: 2px;
    opacity: 1;
    left: 0;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .25s ease-in-out;
    -moz-transition: .25s ease-in-out;
    -o-transition: .25s ease-in-out;
    transition: .25s ease-in-out;
}
  
#nav-icon span:nth-child(1) {
    top: 0px;
}
  
#nav-icon span:nth-child(2),#nav-icon span:nth-child(3) {
    top: 6px;
}
  
#nav-icon span:nth-child(4) {
    top: 12px;
}
  
#nav-icon.open span:nth-child(1) {
    top: 6px;
    width: 0%;
    left: 50%;
}
  
#nav-icon.open span:nth-child(2) {
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -o-transform: rotate(45deg);
    transform: rotate(45deg);
}
  
#nav-icon.open span:nth-child(3) {
    -webkit-transform: rotate(-45deg);
    -moz-transform: rotate(-45deg);
    -o-transform: rotate(-45deg);
    transform: rotate(-45deg);
}
  
#nav-icon.open span:nth-child(4) {
    top: 6px;
    width: 0%;
    left: 50%;
}

.close {
    color: #2E3439;
    transition-property: opacity;
    transition-timing-function: linear;
    transition-duration: 0.18s;
}

.close:hover {
    opacity: 1;
}

.modal-main-text {
    font-size: 1rem;
}

.modal-sub-text {
    font-size: 0.9rem;
    color: #858B92;
}

.fade-mid {
    transform: scale(0.9);
    opacity: 0;
    transition: all .2s linear;
    display: block !important;
}

.fade-mid.show {
    opacity: 1;
    transform: scale(1);
}

.modal-icon {
    width: 1.6rem;
    height: 1.6rem;
    opacity: 0.6;
    transition-property: opacity;
    transition-timing-function: linear;
    transition-duration: 0.18s;
}

.modal-icon:hover {
    opacity: 1;
}

.masonry-row {
    display: flex;
    flex-wrap: wrap;
    padding: 0 1rem;
}

.masonry-col {
    flex: 25%;
    max-width: 25%;
    padding: 0 0.5rem;
}

.masonry-col img {
    margin-top: 1rem;
    vertical-align: middle;
    width: 100%;
    opacity: 1;
    transition: opacity 0.5s
}

.masonry-col img[data-src] {
    opacity: 0;
}

@media screen and (max-width: 800px) {
    .masonry-col {
      flex: 50%;
      max-width: 50%;
    }
}

@media screen and (max-width: 600px) {
    .masonry-col {
      flex: 100%;
      max-width: 100%;
    }
}