@import url('https://fonts.googleapis.com/css?family=Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Varela+Round&display=swap');
@import url('https://fonts.googleapis.com/css?family=Asap+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cabin&display=swap');
@import url('https://fonts.googleapis.com/css?family=Rubik&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto+Mono&display=swap');
@import url('https://fonts.googleapis.com/css?family=Roboto:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Miriam+Libre:700&display=swap');


.animated {
    /* -webkit-animation-duration: 1s; */
    animation-duration: 1s;
    /* -webkit-animation-fill-mode: both; */
    animation-fill-mode: both;
}

@keyframes fadeIn {
    from {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.fadeIn {
    z-index: -100;
    /* -webkit-animation-name: fadeIn; */
    animation-name: fadeIn;
}

main {
    position: relative;
    height: 100%;
    margin-top: 4em;
    margin-bottom: 4em;
}

button {
    border-style: none;
    background-color: transparent;
    padding: 0.75rem 0 0.75rem 0.75rem;
}

button:focus {
    outline: transparent;
}

.custom-nav {
    background-color: aliceblue;
}

.navigation {
    background-color: aliceblue;
}

.nav-container {
    width: 100%;
}

.navbar-head {
    float: left;
}

.navbar-menu {
    float: right;
}

#collapseExample {
    position: absolute;
    z-index: 1;
}

/* main {
    position: relative;
    height: 100%;
    margin-bottom: 50px
} */

.nav-down {
    position: fixed;
    top: 0;
    width: 100%;
    transition: top 0.2s ease-in-out;
}

.nav-up {
    top: -40px;
}

.navbar-toggler {
    border-color: transparent;
    outline: transparent;
    /* to change spacing between right edge and hamburger*/
    padding: 0.75rem 0 0.75rem 0.75rem;
    font-size: 1.5rem;
}

.navbar-toggler:focus {
    outline: transparent;
}

.nav-link {
    font-family: "Asap Condensed", sans-serif;
    color: #000000;
    opacity: 1;
    transition-property: opacity;
    transition-timing-function: linear;
    transition-duration: 0.18s;
}

.navbar-nav:hover a {
    opacity: 0.4;
}

.navbar-nav li a:hover {
    color: inherit;
    opacity: 1;
}

@media (min-width: 768px) {
    .pt-md-6,
    .py-md-6 {
      padding-top: 5rem !important;
    }

    .pr-md-6,
    .px-md-6 {
      padding-right: 5rem !important;
    }

    .pb-md-6,
    .py-md-6 {
      padding-bottom: 5rem !important;
    }

    .pl-md-6,
    .px-md-6 {
      padding-left: 5rem !important;
    }
}

.navbar-brand {
    font-family: 'Miriam Libre', sans-serif;
    font-size: 30px;
    color: #1a237e;
}

.navbar-brand:hover {
    color: #1a237e;
}

.bio-wrapper {
    padding-left: 4em;
    padding-right: 4em;
    padding-top: 6rem;
}

.cover-heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 1rem;
    margin-bottom: 1rem;
}

.top-page-heading {
    font-family: 'Cabin', sans-serif;
    margin-bottom: 2em;
}

.front-page-bio {
    font-family: 'Open Sans', sans-serif;
    line-height: 1.4;
}

p {
    font-family: 'Roboto', sans-serif;
}

.container-fluid {
    padding-top: 15px;
    padding-bottom: 15px;
}

.footer-main {
    background-color: #0e0e46;
}

.contact-links {
    margin-top: 20px;
}

.contact-icons a {
    opacity: 1;
    transition-property: opacity;
    transition-timing-function: linear;
    transition-duration: 0.18s;
}

.footer-icons {
    position: relative;
    width: 20px;
    height: 20px;
    /* padding: 0 4px; */
    margin: 0 12px 0 0;
}

.inline-icons {
    position: relative;
    width: 14px;
    height: 14px;
    /* padding: 0 4px; */
    /* margin: 0 12px 0 0; */
}

.contact-icons:hover a {
    opacity: 0.4;
}

.contact-icons a:hover {
    color: #000000;
    opacity: 1;
}

.fa-heart {
    color: #D32F2F;
}

.attribution-container {
    margin-top: 20px;
}

.footer-small {
    font-family: 'Roboto Mono', sans-serif;
    font-size: 14px;
    color: #FFFFFF;
}